<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row text-center mt-4">

    <div class="col-sm-12" *ngIf="(configurationService.configuration$ | async) as configuration;">
      <h3>Current Configuration</h3>

      <table class="table table-bordered table-hover">
        <thead class="thead-dark">
          <tr>
            <th>Application Id</th>
            <th>Application Name</th>
            <th>Connection String</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td> {{ configuration?.applicationId }}</td>
            <td>{{ configuration?.applicationName }}</td>
            <td>{{ configuration?.connectionString }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-sm-12">
      <h4>Configuration in child component</h4>
      <app-display></app-display>
    </div>

    <div class="col-sm-12 mt-5">
      <button class="btn btn-outline-primary" type="button" (click)="refreshConfig()">Refresh configuration</button>
    </div>
  </div>
</div>